@font-face {font-family: "iconfont";
  src: url-loader('iconfont.eot?t=1582631050514'); /* IE9 */
  src: url-loader('iconfont.eot?t=1582631050514#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url-loader('iconfont.woff?t=1582631050514') format('woff'),
  url-loader('iconfont.ttf?t=1582631050514') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-api-gateway:before {
  content: "\e9e9";
}

